$primary-color: #9CCD62
$secundary-color: #F6F8E2
$tertiary-color: #E0DDCA
$variation-color: #3C3D42

body
  font-family: 'Montserrat', sans-serif

header
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  background: $primary-color
  p
    font-size: 24px
    font-weight: 700
    padding: 12px 0
    color: $variation-color
  span
    width: 250px
    height: 250px
    background-image: url('../images/isometric-online-shopping-at-home.png')
    background-size: cover
    background-position: center
    background-repeat: no-repeat

nav
  margin: 16px
  ul
    display: flex
    flex-direction: column
    align-items: center
    li
      text-align: center
      width: 100%
      cursor: pointer
      &:hover
        background-color: $secundary-color