doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat")
    link(rel="stylesheet", href="./css/reset.css")
    link(rel="stylesheet", href="./css/style.css")
    title Store Go On
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    script(src="./index.js")
  body
    header
      p Fake Store Go On
      span
    nav
      ul.list
        li.All All
    main
      p Nuestros mejores productos
      .main
    footer
